.bundle-meta {
  border: 1px solid #ddd;
  border-width: 5px 0;
  justify-content: space-evenly;
}

.bundle-meta > div {
  width: calc(100% / 3);
  padding: 10px;
  display: flex;
  flex-flow: column;
  border-right: 1px solid #ddda;
  font-family: PTSansNarrowRegular, sans-serif;
  color: #666;
  text-transform: uppercase;
}

.bundle-meta > div b {
  padding: 10px 0;
  text-transform: none;
  font-family: PTSansRegular, sans-serif;
  color: #333;
}

.bundle-meta > div.current-state,
.bundle-meta > div.next-state {
  width: 50%;
  flex-flow: row;
  align-items: center;
}

.bundle-meta > div.current-state b {
  text-transform: uppercase !important;
  font-size: 1.3em;
  color: white;
  margin: 0 0 0 30px;
  padding: 10px;
  background-color: #592;
}

.associate-application {
  align-self: flex-end;
  flex-flow: column;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.reactahead {
  box-shadow: none !important;
}

.associate-application button {
  margin-left: 5px;
}
