@import url("./bootstrap-forms.min.css");

.applications {
  margin-top: -40px;
}

form.rjsf fieldset {
  padding: 0;
}

form.rjsf legend {
  letter-spacing: 0.05em;
  border-bottom: 0;
}

.applications form.rjsf > .form-group > fieldset > .form-group {
  padding: 30px 30px;
}

form.rjsf .col-fieldset-2 > fieldset > .form-group {
  display: inline-block;
  width: 45%;
}

form.rjsf .col-fieldset-3 > fieldset > .form-group {
  display: inline-block;
  width: 30%;
}

form.rjsf .col-fieldset-2 > fieldset > .form-group:last-of-type {
  margin-left: 40px;
}
form.rjsf .col-fieldset-3 > fieldset > .form-group:nth-of-type(2n + 1) {
  margin: 0 20px;
}

.applications
  form.rjsf
  > .form-group
  > fieldset
  > .form-group:nth-of-type(odd) {
  background-color: var(--white);
  border: 1px solid var(--very-ver-light);
  border-width: 1px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset,
    0 -1px 5px rgba(0, 0, 0, 0.1) inset;
}

form > .form-group > fieldset > .form-group > fieldset > legend {
  font-size: 1.8em;
  margin-left: -30px;
  padding: 5px 0 10px 20px;
  border-left: 5px solid #66a;
  margin-bottom: 20px;
  color: #66a;
  font-family: PTSansNarrowBold, sans-serif;
  text-transform: uppercase;
}

form > .form-group > fieldset fieldset fieldset legend {
  text-transform: uppercase;
  color: #000e;
  font-weight: bold;
  font-size: 1em;
  padding-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #0001;
  padding-bottom: 5px;
}

.title,
#root__title {
  font-family: "PTSansNarrowRegular", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
  padding: 0 0 0.25em 0;
  border: 0;
}

.formContainer .title,
.formContainer #root__title {
  margin: 20px auto 0 20px;
}

.formContainer #root__description {
  margin: 0 auto 20px 20px;
  font-size: 1.2em;
  font-style: normal;
}
form.rjsf .col-fieldset-2 > fieldset legend,
form.rjsf .col-fieldset-3 > fieldset legend,
form label {
  color: #000a;
  margin-bottom: 0;
  font-weight: 500;
  font-family: "PTSansNarrowBold", "PTSansRegular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
}

form.rjsf .col-fieldset-2 > fieldset legend,
form.rjsf .col-fieldset-3 > fieldset legend {
  font-weight: bold;
}

form .field-description {
  color: #66a;
  font-style: italic;
  margin: 5px 0 10px 0;
  font-size: 0.8em;
}

form #root_scholarship__description.field-description {
  color: #000a;
  font-size: 1em;
  font-style: normal;
  margin-bottom: 35px;
}

.form-actions {
  width: 100%;
  display: flex;
  margin-bottom: 0;
  z-index: 100;
}

#application-form .form-actions {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--almost-black);
  padding: 0.5em;
}

.form-actions-toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control {
  border-radius: 0;
  background-color: var(--very-very-light);
  border-color: var(--very-ver-light);
  transition: all ease 0.2s;
  margin-bottom: 0.6em;
}

.form-control:focus {
  border-color: #f90a;
  border-width: 1px;
  box-shadow: 0 6px 2px -5px #0004;
  color: var(--almost-black);
  background-color: white;
}

.help-block {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
}

.form-control:focus ~ label,
.form-control:focus ~ .help-block {
  color: #f90c;
}

input,
textarea,
select {
  transition: all ease 0.2s;
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  line-height: initial;
  padding: inherit;
}

.checkbox-description > .checkbox {
  display: flex;
  flex-direction: column-reverse;
}

.sidebar {
  position: fixed;
  width: 95vw;
  z-index: 99;
  background-color: white;
  transition: transform ease 0.5s;
}

.sidebar-toggle {
  padding: 4px 10px;
  transition: transform ease 0.5s;
  margin-left: -32px;
  border-radius: 40% 0 0 40%;
  width: 33px;
  height: 40px;
  font-size: 1.3em;
  background: var(--yellow);
  color: #0009;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  text-shadow: 1px 1px 3px #0001;
  border: 2px solid #0002;
  border-right-width: 0;
  box-shadow: -1px 1px 2px #0003;
  cursor: pointer;
}

.sidebar-toggle:hover {
  width: 40px;
  margin-left: -40px;
}

.sidebar .sidebar-content {
  transition: all ease 0.4s;
  padding: 10px 0 10px 10px;
  box-shadow: 1px 0 2px #0003 inset;
  padding-bottom: 100px;
  margin-top: -60px;
}

.sidebar .sidebar-tabs.tabs {
  position: sticky;
  margin: -10px 0 0 -9px;
  width: 100%;
  box-shadow: 1px 2px 2px #0001;
  background-color: white;
}

.sidebar .sidebar-lists {
  margin-top: 10px;
  overflow-y: auto;
  height: calc(100vh - 50px);
  padding-bottom: 100px;
  width: 94%;
}

.sidebar .tab {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: #ccc4;
  border-right: 2px solid white;
  border-top: 4px solid #ccc4;
  color: #0008;
  cursor: pointer;
  transition: all ease 0.4s;
  font-weight: 500;
  text-shadow: 1px 1px 1px #0001;
}

.sidebar .tab:hover,
.sidebar .tab.active {
  color: var(--yellow);
  background-color: transparent;
  border-top: 4px solid var(--yellow);
}

.sidebar .tab * {
  pointer-events: none;
}

.sidebar .tab i.fa {
  margin-right: 5px;
  font-size: 1.3em;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  font-family: PTSansNarrowRegular, PTSansRegular, sans-serif;
  text-transform: uppercase;
  padding: 0.5em 1.25em;
  background-color: #f39c23;
  outline: none;
  border: 0;
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: padding ease 0.2s;
  font-size: 0.8em;
}

button:hover {
  box-shadow: 0 5px 2px -3px #0004;
}

button:active {
  padding: 7px 23px;
}
/* .form-group button {
  margin: 0 1.5em 0 0;
} */

.toggle-buttons {
  display: flex;
  align-items: center;
  position: fixed;
  width: 200px;
  right: 10px;
  align-items: flex-end;
  flex-flow: column nowrap;
  transition: all ease 0.5s;
  padding: 20px;
  background-color: var(--almost-black);
  bottom: 0;
}

.toggle-buttons button {
  margin: 0 0 1.5em;
}

input#submitLockcheckbox[type="checkbox"] {
  display: none;
}

input#submitLockcheckbox[type="checkbox"] + label {
  color: #999;
  cursor: pointer;
  font-size: 0.9em;
}

input#submitLockcheckbox[type="checkbox"] + label i.fa {
  margin-left: 0.5em;
  font-size: 1.5em;
}

input#submitLockcheckbox[type="checkbox"]:hover + label i.fa,
input#submitLockcheckbox[type="checkbox"]:checked + label i.fa {
  color: var(--primary-color);
}

input#submitLockcheckbox[type="checkbox"]:hover + label,
input#submitLockcheckbox[type="checkbox"]:checked + label {
  color: var(--white);
}

input.reactahead-input span.glyphicons {
  display: none;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: auto;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0;
  font-weight: bold;
  color: #000;
  font-size: 1em;
  margin-top: 5px;
  max-height: fit-content;
}

.form-control[disabled] ~ p.help-block {
  display: none;
}

form.disabled p.field-description {
  color: #666;
  font-size: 0.9em;
}

.bundle-meta {
  border: 1px solid #ddd;
  border-width: 5px 0;
}

.bundle-meta > div {
  font-family: PTSansNarrowRegular, sans-serif;
  color: #666;
  margin: 5px 0 0 0;
  text-transform: uppercase;
}

.bundle-meta > div b {
  display: inline;
  margin-left: 10px;
  text-transform: none;
  font-family: PTSansRegular, sans-serif;
  color: var(--almost-black);
  font-size: 1.25vmin;
}

form.disabled label,
form.disabled fieldset fieldset fieldset legend {
  color: #0004;
}

.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline {
  font-family: "PTSansRegular";
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  text-transform: initial;
  font-size: 0.9em;
  letter-spacing: 0em;
  color: #000 !important;
}

@media screen and (min-width: 60em) {
  .formContainer #root__title {
    /* margin-left: 200px; */
  }

  .toggle-buttons {
    transform: unset !important;
    position: unset !important;
    width: auto !important;
    right: unset !important;
    transition: none !important;
    padding: unset;
    background-color: unset;
    bottom: unset !important;
    align-items: flex-end;
    flex-flow: row;
  }

  .toggle-buttons button {
    margin: 0 1.5em 0 0;
  }
  .applications {
    margin-top: 0px;
  }

  .bundle-meta {
    font-size: 1.5em;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-width: 5px 0;
    justify-content: space-evenly;
  }

  .bundle-meta > div {
    width: calc(100% / 2);
    padding: 10px;
    display: flex;
    flex-flow: column;
    border-right: 1px solid #ddda;
    font-family: PTSansNarrowRegular, sans-serif;
    color: #666;
    text-transform: uppercase;
    margin: auto;
  }

  .bundle-meta > div b {
    padding: 10px 0;
    display: block;
    margin-left: 0;
    text-transform: none;
    font-family: PTSansRegular, sans-serif;
    color: var(--almost-black);
  }

  .sidebar {
    max-width: 30% !important;
    transform: none !important;
    z-index: auto;
    right: 0;
  }

  .sidebar-toggle {
    display: none !important;
  }
  .array-item {
    display: flex;
    width: 100%;
  }
  .array-item .col-xs-9 {
    flex-grow: 1;
  }
  .array-item .col-xs-3 {
    display: flex;
    align-items: flex-start;
  }

  i.glyphicon {
    display: none;
  }
  .btn-add::after {
    content: "Add +";
  }
  .array-item-move-up::after {
    content: "Move Up";
  }
  .array-item-move-down::after {
    content: "Move Down";
  }
  .array-item-remove::after {
    content: "Remove x";
  }

  .datetime-reset-button {
    display: none !important;
  }
}
