@media print {
  body {
    background-color: transparent !important;
  }

  * {
    overflow-y: visible;
    font-size: 12pt !important;
  }

  .flex {
    display: block;
  }

  .z-999,
  .sidebar,
  .form-actions,
  .dn-p {
    display: none !important;
  }

  .db-p {
    display: block;
  }
  .dib-p {
    display: inline-block;
  }

  .bundle-meta {
    margin: 0;
    border-top: 0;
    border-bottom-width: 1pt;
    padding-bottom: 5pt;
  }

  .bundle-meta > div {
    display: inline-block;
    margin-right: 50px;
    text-transform: initial;
    padding-top: 0;
    color: #666 !important;
  }

  .bundle-meta > * {
    padding: 0;
    color: #666;
  }

  .bundle-meta .form-title {
    font-size: 18pt !important;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }

  legend,
  label {
    text-transform: unset !important;
    font-weight: normal !important;
    color: #999 !important;
  }
  .applications form.rjsf > .form-group > fieldset > .form-group {
    padding: 0;
  }

  form > .form-group > fieldset > .form-group > fieldset > legend {
    margin-bottom: 5px;
    padding: 10pt 0 0 30px;
    border: 0;
    color: #666 !important;
    font-size: 13pt !important;
  }

  #application-form > .form-group > fieldset > .form-group {
    /* padding: 10px; */
  }

  #application-form {
    #root__title {
      display: none;
    }
  }

  form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > legend {
    /* margin-bottom: 10px; */
    padding-bottom: 5px;
    font-weight: bold !important;
    color: #333 !important;
    border-bottom: 0;
  }
  #application-form > .form-group > fieldset > .form-group > fieldset {
    page-break-after: always;
  }

  /* #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset {
    padding: 0 0 0 5px;
    margin: 0 0 0 5px;
    border-left: 1px solid #0002;
  } */

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group {
    padding: 0;
    /* display: flex; */
    align-items: baseline;
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset {
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > label,
  form label {
    flex-basis: 1;
    min-width: fit-content;
    padding: 0 !important;
    color: #ss !important;
    font-family: "PTSansNarrowRegular";
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    select,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    input {
    margin: 0 0 0 5px;
    padding: 0;
    height: auto;
    font-size: 1em;
    display: unset;
    word-wrap: break-word;
    user-select: text;
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    input[type="checkbox"] {
    margin: 0 0 0 5px;
    padding: 0;
    height: auto;
    font-size: 1em;
    display: unset;
    word-wrap: break-word;
    user-select: text;
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > label
    ~ div,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    p {
    /* display: none; */
  }

  form.rjsf .col-fieldset-2 > fieldset legend,
  form label {
    /* white-space: nowrap; */
  }

  form.rjsf .col-fieldset-2 > fieldset,
  form.rjsf .col-fieldset-3 > fieldset {
    display: flex;
  }

  form.rjsf .col-fieldset-2 > fieldset legend,
  form.rjsf .col-fieldset-3 > fieldset legend {
    width: 100%;
    flex-grow: 1;
  }

  form.rjsf .col-fieldset-2 > fieldset .form-group {
    width: 45%;
    display: flex;
  }

  form.rjsf .col-fieldset-3 > fieldset .form-group {
    width: 30%;
    display: flex;
  }

  form.rjsf .col-fieldset-2 > fieldset .form-group label,
  form.rjsf .col-fieldset-3 > fieldset .form-group label {
    padding-right: 10px;
  }

  .form-group {
    border: 0 !important;
    box-shadow: unset !important;
  }

  #application-form .title,
  #application-form #root__title {
    margin-left: 0;
    display: none !important;
  }

  .form-control,
  legend,
  label,
  textarea,
  p.tmpDisplay {
    break-inside: avoid-page;
  }

  .tmpDisplay {
    /* display: block; */
    margin: 0;
    width: 100%;
    height: fit-content;
    border-width: 0;
    font-size: 12pt;
    color: #000 !important;
  }

  span.tmpDisplay {
    display: inline;
    font-weight: normal;
    font-size: 12pt;
    margin: 2px 0 0 15px;
  }

  .tmpDisplay-container {
    flex-flow: column;
    display: block;
  }

  .field-description {
    color: #0002;
    font-size: 0.9em;
    display: none;
  }
  .to-print .field-description {
    display: initial !important;
  }

  label,
  legend {
    color: #000a;
  }

  textarea,
  textarea[readonly] {
    display: none;
  }
  .btn-add,
  .array-item-move-up,
  .array-item-move-down,
  .array-item-remove {
    display: none;
  }
}
