@media print {
  * {
    overflow-y: visible;
  }

  .flex {
    display: block;
  }

  .z-999,
  .sidebar,
  .form-actions {
    display: none;
  }

  form > .form-group > fieldset > .form-group > fieldset > legend {
    margin-bottom: 10px;
  }

  #application-form > .form-group > fieldset > .form-group {
    padding: 10px;
  }

  form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > legend {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #0002;
  }
  #application-form > .form-group > fieldset > .form-group > fieldset {
    page-break-after: always;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset {
    padding: 0 0 0 5px;
    margin: 0 0 0 5px;
    border-left: 1px solid #0002;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group {
    padding: 0 0 0 5px;
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset {
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > label {
    flex-basis: 1;
    min-width: fit-content;
    padding: 5px 5px 5px 0;
  }

  form.rjsf .col-fieldset-2 > fieldset legend,
  form label {
    white-space: nowrap;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    select,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    input {
    margin: 0 0 0 5px;
    padding: 0;
    height: auto;
    font-size: 1em;
    display: unset;
    word-wrap: break-word;
    user-select: text;
    width: 100%;
  }

  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > label
    ~ div,
  #application-form
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    > fieldset
    > .form-group
    p {
    display: none;
  }

  .form-group {
    border: 0 !important;
    box-shadow: unset !important;
  }

  #application-form .title,
  #application-form #root__title {
    margin-left: 0;
  }

  .form-control,
  legend,
  label,
  textarea {
    page-break-inside: avoid;
  }

  .tmpDisplay {
    /* display: block; */
    margin: 0;
    width: 100%;
    height: fit-content;
    border-width: 1px 0 0 0;
  }

  span.tmpDisplay {
    font-weight: bold;
    font-size: 1.2em;
    margin: 2px 0 0 15px;
  }

  .tmpDisplay-container {
    flex-flow: column;
    display: block;
  }

  .field-description {
    color: #0007;
    font-size: 0.9em;
  }

  textarea,
  textarea[readonly] {
    display: none;
  }
  .btn-add::after,
  .array-item-move-up::after,
  .array-item-move-down::after,
  .array-item-remove::after {
    display: none;
  }
}
