:root {
  --shadow-light: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  --very-very-light: #fafafa;
  --very-ver-light: #eaeaea;
  --near-white: #f4f4f4;
  --primary-color: #f90;
  --white: #fff;
  --yellow: #f59c00;
  --red: #c00;
  --success: #1907;
  --info: #0557;
  --warning: #7507;
  --danger: #9017;
}

body {
  font-family: PTSansRegular, Sans-serif;
  overflow-x: hidden;
  background-color: var(--near-white);
}

.title,
#root__title {
  font-family: "PTSansNarrowRegular", sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding: 0 0 0.25em 0;
}

.shadow-light {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

.t-shadow-light {
  text-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.small-box {
  max-width: 400px;
}

.fa-15x {
  font-size: 1.5em;
}

.b--very-ver-light {
  border-color: var(--very-ver-light);
}

.bg-very-very-light {
  background-color: var(--very-very-light);
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.b--primary-color {
  border-color: var(--primary-color);
}

.section:nth-of-type(2n+2) {
  background-color: var(--white);
}
