:root {
  --shadow-light: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  --very-very-light: #fafafa;
  --very-ver-light: #eaeaea;
  --near-white: #f4f4f4;
  --primary-color: #f90;
  --white: #fff;
  --yellow: #f59c00;
  --red: #c00;
  --success: #3a1;
  --info: #31d;
  --warning: #fa1;
  --danger: #d31;
  --black: #000;
  --almost-black: #333;
}

body {
  font-family: PTSansRegular, Sans-serif;
  overflow-x: hidden;
  background-color: var(--near-white);
}

.main {
  margin: 80px auto 40px;
}

.shadow-light {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

.t-shadow-light {
  text-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.small-box {
  max-width: 420px;
}

.fa-15x {
  font-size: 1.5em;
}

.b--very-ver-light {
  border-color: var(--very-ver-light);
}

.bg-very-very-light {
  background-color: var(--very-very-light);
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.b--primary-color {
  border-color: var(--primary-color);
}

.section:nth-of-type(2n + 2) {
  background-color: var(--white);
}

@media screen and (min-width: 60em) {
  .main {
    margin: 60px auto;
  }
}
