.header {
  background-color: none;
  max-height: 120px;
}

.header,
.header * {
  transition: all ease 0.4s;
}

.header.sticky {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  z-index: 999;
  max-height: 50px;
  transition: all ease 0.4s;
}

.logo {
  opacity: 1;
  min-width: 70px;
  max-width: 80px;
  height: fit-content;
}

.sticky .logo {
  max-width: 55px;
  max-height: 45px;
  overflow-y: hidden;
  margin-right: 30px;
  margin-top: 0;
}

.sticky .logo img {
  margin-top: -57px;
}

.userNav a {
  min-width: 40px;
  text-decoration: none;
  margin-right: 20px;
  color: #999;
  transition: none;
}

.userNav a > div {
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
}

.userNav a .fa {
  font-size: 1.2em;
}

.sticky .userNav a {
  /* border-bottom: 4px solid var(--very-ver-light); */
  margin-right: 15px;
  padding: 0 0 10px 0;
}

.sticky .userNav a > div {
  flex-direction: row;
  align-items: baseline;
  padding: 0 10px;
  justify-content: center;
}

.sticky .userNav a .fa {
  font-size: 15px;
  margin-right: 5px;
}

.userNav a:focus,
.userNav a:hover,
.userNav a.active {
  /* border-color: var(--yellow); */
  outline: 0;
  color: var(--yellow);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.navLink * {
  pointer-events: none;
}

.language-picker {
}

.languages {
  right: 0;
}

.languages .language {
  display: none;
  order: 2;
  padding: 6px 10px 6px 30px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px auto;
  margin-right: 5px;
}

.languages .language.active,
.languages .language:hover {
  text-decoration: underline;
  opacity: 1;
  cursor: pointer;
}

.languages .language.active {
  display: block;
  order: 1;
}

.languages:hover .language {
  display: block;
}

@media screen and (min-width: 60em) {
  .logo {
    opacity: 1;
    max-height: 100px;
    max-width: 100px;
    margin-right: 40px;
    margin-top: 0;
  }

  .sticky .logo {
    padding: 5px 0 0 0;
    max-width: 65px;
    min-width: 50px;
  }

  .sticky .logo img {
    margin-top: -70px;
  }

  .userNav a {
    font-size: 1em;
    margin-right: 50px;
  }

  .sticky .userNav a {
    margin-right: 50px;
  }

  .userNav a .fa {
    font-size: 1.3em;
  }

  .sticky .userNav a .fa {
    font-size: 18px;
    margin-right: 5px;
  }
}
