
.badge {
  transition: all ease 0.2s;
  opacity: 0.8;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.badge > * {
  pointer-events: none;
  color: #999;
}

.badge i.fa {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.badge .badge-title {
  font-family: PTSansNarrowBold, sans-serif;
  letter-spacing: 0.12em;
  width: 90%;
  text-align: center;
}

.badge:hover,
.badge.active {
  background-color: #fff;
  opacity: 1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.13);
}

.badge:hover > *,
.badge.active > * {
  color: var(--yellow);
}

.ReactTable .rt-thead .rt-resizable-header-content {
  font-family: PTSansNarrowBold, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 0.12em;
}

.ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select,
.ReactTable .rt-thead.-filters option {
  color: #999;
  font-weight: 100;
  font-family: PTSansNarrowRegular, sans-serif;
  letter-spacing: 0.11em;
}
