@import url('~react-table/react-table.css');

.rt-td,
.rt-th {
  padding: 0.5em !important;
  color: rgba(0, 0, 0, 0.7);
  align-self: center;
}

.rt-th * {
  font-weight: 700;
  justify-content: flex-start;
  text-align: left;
}

.action {
  padding: 0.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.fa-trash {
  color: var(--red);
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 var(--yellow);
  outline: none;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 var(--yellow);
  outline: none;
}
