@import url('~react-table/react-table.css');

.ReactTable {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.rt-td {
  /* background-color: var(--white) !important; */
}

.rt-thead {
  background-color: var(--very-ver-light);
}

.rt-td,
.rt-th {
  padding: 1.2em !important;
  color: rgba(0, 0, 0, 0.7);
  align-self: center;
}

.rt-th {
  padding: 0.5em !important;
  background-color: transparent !important;
}

.rt-th * {
  font-weight: 700;
  justify-content: flex-start;
  text-align: left;
}

.rt-tr-group:first-of-type {
  padding-top: 4px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.action {
  padding: 0.7em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.7;
  border: 1px solid var(--very-ver-light);
}

.action:hover {
  opacity: 1;
  box-shadow: 1px 1px 2px 0 #0003;
}

.fa-trash {
  color: #f30e;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 var(--yellow);
  outline: none;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 var(--yellow);
  outline: none;
}
