.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid $dark-color;
  font-size: 1rem;
  margin: 1rem auto;
  line-height: 1.5;
  width: 100%;
}

.table * {
  border-collapse: collapse;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.table-row:nth-of-type(even) {
  background-color: var(--very-very-light);
}

.table-header {
  background-color: var(--very-ver-light);
}

.table-cell {
  word-wrap: break-word;
  padding: 4px 15px;
  flex-grow: 1;
}
