.history {
  margin: 20px 0;
}

.history-item {
  color: #666;
  font-size: 0.9em;
  padding: 10px 15px;
  background-color: #bbb1;
}

.history-item:nth-last-of-type(odd) {
  background-color: #6661;
  border-color: #6661;
  border-width: 1px 0;
  border-style: solid;
}

.history-item .event {
  color: #66a;
}
