.history {
  margin: 20px 0;
}

.history-item {
  color: #666;
  font-size: 0.9em;
  padding: 10px 15px;
  background-color: #bbb1;
}

.history-item:nth-last-of-type(odd) {
  background-color: #6661;
  border-color: #6661;
  border-width: 1px 0;
  border-style: solid;
}

.history-item .event {
  color: #66a;
}

.history-item i.fa {
  margin-right: 10px;
  border: 1px solid #9aa;
  font-size: 0.8em;
  padding: 7px;
  border-radius: 50%;
  color: #fffd;
  background-color: #66ad;
  cursor: pointer;
  text-shadow: 1px 1px 2px #0002;
}

button.upload[type="submit"] {
  font-family: PTSansNarrowRegular, sans-serif;
  font-weight: 100;
  border-radius: 4px;
  padding: 2px 5px;
  margin-right: 0;
  background-color: var(--primary-color);
}

.upload i.fa {
  margin-right: 5px;
}

.history-item i.fa:hover {
  color: #fff;
  background-color: #66a;
  box-shadow: 1px 1px 2px #0002;
}

.comments {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
  border: 1px solid #0001;
  padding: 20px 0;
  box-shadow: 0 0 2px 2px #0001 inset;
  background-color: #66a1;
}

.comment {
  transition: all ease 0.3s;
  width: 80%;
  display: flex;
  flex-flow: column;
  border-radius: 4px;
  margin-left: 10px;
  background-color: #99a2;
  border: 1px solid #0002;
  box-shadow: 1px 1px 4px #0002;
  padding: 10px 10px 5px 10px;
  margin-bottom: 20px;
  position: relative;
}

.comment .text {
  color: #666;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.comment .meta {
  color: #888;
  align-self: flex-end;
  font-size: 0.8em;
}

.comment.not-own {
  background-color: #fffd;
  align-self: flex-end;
  margin-right: 10px;
}

.comment .delete {
  color: #a66;
  background-color: #ccc;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px #3331;
}

.comment .delete:hover {
  color: var(--white);
  background-color: var(--red);
  box-shadow: 2px 2px 2px #0001;
}

.empty {
  text-transform: uppercase;
  color: #999;
  margin: auto;
  margin-top: 30px;
}
