.clock {
  font-size: 1.2em;
  font-family: PTSansBold, sans-serif;
  display: flex;
  padding: 0;
  border-radius: 2px;
  align-items: center;
}

.clock-timer {
  position: relative;
  line-height: 1.4;
  color: var(--white);
}

.clock .reset::before {
  background-color: var(--yellow);
  margin-left: 5px;
  font-size: 0.7em;
  position: absolute;
  top: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.clock-title {
  display: none;
}

@media screen and (min-width: 60em) {
  .clock-title {
    display: block;
    font-size: 0.7em;
    padding-right: 1em;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 100;
    font-family: PTSansNarrowRegular, sans-serif;
  }
}
